###############################################################################
# Top level
.venv
__pycache__
*.pyc
*.html
*.xml
*.png
*.log

###############################################################################
# docs/ Ignore everything except .md files
docs/*
!docs/*.md

###############################################################################
# listeners/ Ignore everything except .py files
listeners/*
!listeners/*.py

###############################################################################
# reports/
reports/*
!reports/*.md

###############################################################################
# test/ Ignore everything except .robot files
test/*
!test/*.robot
