###############################################################################
# Top level

###############################################################################
# node_modules
node_modules*

###############################################################################
# videos
videos/*.mp4

###############################################################################
# test/ Ignore everything except .robot files
test/*
!test/*.robot
