###############################################################################
# Top level => ignore all (.) file extensions except git
.*
!.git*
node_modules*

###############################################################################
# videos
videos/*.mp4

# screenshots
screenshots/!*.png

# reports
reports/*
!reports/README.md

# mochawesome
mochawesome-report/*
!mochawesome-report/README.md

###############################################################################
# cypress specs
integration/*

# allow 1st level .js files
!integration/*.js

# allow regressions and workflow directories
!integration/regressions/*
!integration/workflow/*
